.loanh {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc; 
}

.loanp {
    text-align: center;
    border: 1px solid #ccc; 
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc; 
}